<link rel="stylesheet" href="employee-list.component.css">

<div *ngIf="selectedEmployee === undefined">
  <h1>Employee Management Service</h1>
  <input type="text" placeholder="Search..." (input)="contentChanged($event)" [value]="search" >
  <button id="add_button" (click)="addEmployee()">add</button>
  <button id="all_button" (click)="showAll()">all</button>
</div>

<!-- Hier wird dynamisch für alle einträge in der datenbank ein listeneintrag erstellt. -->
<ul class="employees" *ngIf="selectedEmployee === undefined">
  <li *ngFor="let employee of employees$ | async">
    <button type="button" (click)="onSelect(employee)" [class.selected]="foundViaSearch(employee)">
      <span class="idBadge">{{employee.id}}</span>
      <span class="name">{{employee.firstName}} {{employee.lastName}}</span>
    </button>
  </li>
</ul>

<!-- Hiermit wird aufgerufen, dass der employee-editor unter der Liste aller employees sein soll (was laut wireframe nicht richtig ist) -->
<app-employee-editor [employee]="selectedEmployee"></app-employee-editor>
